@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color: rgb(15, 15, 15);
}
/* header parou de funcionar(???) */
header{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1; 
}

header .logo{
    position: relative;
    font-size: 2em;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase; /*aumenta todas as letras*/
    letter-spacing: 3.5px;
    text-decoration: none;

}

header .menu{
    max-width: 60px;
    cursor: pointer; /*mostra a maozinha do cursor*/
}

header .menu img{
    max-width: 100%;

}

.conteudo{
    position: relative;
    width: 100%;
    min-height: 600px;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

 /*ajeitando video ao fundo*/
 .conteudo::before{
    content:'';
    position: absolute;
    right: 0;
    top: 0;
    width:400px;
    height:100%;
    background:rgba(0, 0, 0,5);
}  

.conteudo video{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    pointer-events: none;
    

}

.conteudo .video video{
    opacity: 1;
}


.conteudo .texto{
    position: relative;
    max-width: 550px;
    z-index: 2;

}

.conteudo .texto h2{
    color:#ffffff;
    font-size: 2.6em;
}

.conteudo .texto p{
    color: #ffffff;
    font-size: 1.1em;
    margin: 5px 0px 25px;
}


.conteudo .texto a{
    position: relative;
    display: inline-block;
    background: #ffffff;
    color: #111111;
    padding: 15px 25px;
    text-decoration: none;
    font-size:1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.conteudo .texto a:hover{
    font-size: 1em ;

}


.conteudo .video{
    position: relative;
    background: #ffffff;
    margin-left:40px;
    width: 100%;
    height: 400px;
    z-index: 1;
    /* bloco para colocar o video */
}

.conteudo .redes{
  position: absolute;
  bottom: 20px;
  letter-spacing: 100px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.conteudo .redes li{
    list-style: none;   
}

.conteudo .redes li a{
    display: inline-block;
    margin-right: 15px;
}

.conteudo .redes li a:hover{
    transform: translateY(-10px);
    transition-duration: 0.4s;
}


.conteudo .redes li a img{
     transform: scale(0.5); /* diminuiu a escala da imagem */
     filter: invert(1); /* deixa negativo a imagem */


}

@media(max-width:990px){
    header{
        padding: 20px 50px;
    }
    .conteudo{
        padding: 150px 50px 0;
        flex-direction: column;
    }
    .conteudo::before{
        display: none;
    }
    .conteudo .texto{
        max-width:100%
    }
    .conteudo .texto h2{
        font-size: 2.5em;
    }
    .conteudo .video{
        width: 100%;
        height: 200px;
        margin: 40px 0px 100px;
    }
    .conteudo .redes{
        left: 50px;
    }


}

footer{
    width: 100%;
    background-color: rgb(48, 48, 48);
    color: white;
    font-style: normal;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

footer a{
    text-decoration: none;
    color: tomato;
}

footer a:hover{
    color: #e48cae;
    
} 

